<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div class="card dash-card">
        <div class="card-body">
            <h5 class="card-title">Server Stats Enabled</h5>
            <p class="card-text">Weather or not to enable server stats</p>

            <br>

            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                <label class="switch">
                    <input id="serverStatsTogglePlaceholder" name="serverStatsEnabled" value="false" type="hidden"<%= guild.config.serverStatsEnabled ? ' disabled' : '' %>>
                    
                    <input id="serverStatsToggle" name="serverStatsEnabled" value="<%= guild.config.serverStatsEnabled %>" type="checkbox"<%= guild.config.serverStatsEnabled ? ' checked' : '' %>>
                    
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<script>
    let $checkboxToggle = $('#serverStatsToggle');

    $checkboxToggle.on( 'change', () => {
        $checkboxToggle.attr( 'value', $checkboxToggle.prop( 'checked' ) );

        $( '#serverStatsTogglePlaceholder' ).prop( 'disabled', $checkboxToggle.val() == 'true' );
    } );
</script>