<%
    function capitalizeFirstLetter( string ) {
        return string.charAt( 0 ).toUpperCase() + string.slice( 1 );
    };
    
    events = events.map( event => ( { event, name: capitalizeFirstLetter( event.replace( /([a-z0-9])([A-Z])/g, '$1 $2' ) ) } ) );
%>


<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.html') %>

    <body class="app-body">
        <div id="modalInjection"></div>

        <script>
            $( document ).ready( () => {
                $( 'form' ).on( 'submit', function( e ) {
                    e.preventDefault();
        
                    $.ajax( {
                        type: 'post',
                        url: window.location.href,
                        data: $( this ).serialize(),
                        success: function( alerts ) {
                            if ( alerts.length > 0 ) {
                                $( '#modalInjection' ).html( '' );
                                
                                $( '#modalInjection' ).append(
                                    `<div class="modal fade" id="alertsModal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Server Update - Alerts</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                
                                                <div class="modal-body">
                                                    ${ alerts.map( alert => `<p>${ alert }</p>` ).join( '\n' ) }
                                                </div>
                                                
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`
                                );
                                
                                $( '#alertsModal' ).modal( 'show' );
                            };

                            let selectedPage = $( '#dashboardTabs' ).find( 'a[aria-selected="true"]' )[ 0 ];
                            if ( selectedPage && alerts.length <= 0 ) {
                                window.location = `${ window.location.pathname }?page=${ encodeURIComponent( $(selectedPage).attr( 'href' ).replace( '#', '' ) ) }`;
                            };
                        }
                    } );
                } );

                try {
                    let getUrlParameter = function getUrlParameter( sParam ) {
                        let sPageURL = window.location.search.substring( 1 ),
                            sURLVariables = sPageURL.split( '&' ),
                            sParameterName,
                            i;
                            
                        for ( i = 0; i < sURLVariables.length; i++ ) {
                            sParameterName = sURLVariables[ i ].split( '=' );
                            if ( sParameterName[ 0 ] === sParam ) {
                                return typeof sParameterName[ 1 ] === undefined ? true : decodeURIComponent( sParameterName[ 1 ] );
                            };
                        };

                        return false;
                    };

                    let page = getUrlParameter( 'page' );
                    if ( typeof page == 'string' ) {
                        let pageTab = $( '#dashboardTabs' ).find( `a[href="#${ page }"]` )[ 0 ];
                        if ( pageTab ) pageTab.click();
                    };                    
                } catch ( e ) {};
            } );
        </script>
        

        <header class="navbar navbar-dark flex-md-nowrap p-0">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3"><%= guild.name %></a>
        </header>
        
        <div class="container-fluid">
            <div class="row">
                <hr>

                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar" style="border-right: 1px solid;">
                    <div class="position-sticky pt-3">
                        <ul id="dashboardTabs" class="nav nav-tabs flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                            </li>

                            
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Config</span>
                            </h6>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#general" role="tab" aria-controls="logs" aria-selected="false">General</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">Logs</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#voiceChannel" role="tab" aria-controls="logs" aria-selected="false">Voice Channel</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#invites" role="tab" aria-controls="logs" aria-selected="false">Invites</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#serverStats" role="tab" aria-controls="logs" aria-selected="false">Server Stats</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#levelMessageDestination" role="tab" aria-controls="logs" aria-selected="false">Level Message Destination</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#reactionRoles" role="tab" aria-controls="logs" aria-selected="false">Reaction Roles</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#lockdown" role="tab" aria-controls="logs" aria-selected="false">Lockdown</a>
                            </li>
                            <!---->

                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Tools</span>
                            </h6>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#embedMessage" role="tab" aria-controls="logs" aria-selected="false">Message Embedder</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#embedEditor" role="tab" aria-controls="logs" aria-selected="false">Embed Editor</a>
                            </li>

                            <!---->

                            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Levelling</span>
                            </h6>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#levelMessageDestination" role="tab" aria-controls="logs" aria-selected="false">Level Message Destination</a>
                            </li> -->

                            <!---->

                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Event Logs</span>
                            </h6>

                            <% events.forEach( ( { event, name } ) => { %>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#<%= event %>" role="tab" aria-controls="logs" aria-selected="false"><%= name %></a>
                                </li>
                            <% } ); %> %>
                        </ul>
                    </div>
                </nav>
                
                
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="height: 100vh;">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="home" role="tabpanel"><%- include('./dashboard/home/index.html') %></div>

                        <!---->

                        <div class="tab-pane fade" id="general" role="tabpanel"><%- include('./dashboard/general/index.html') %></div>
                        <div class="tab-pane fade" id="logs" role="tabpanel"><%- include('./dashboard/logs/index.html') %></div>
                        <div class="tab-pane fade" id="voiceChannel" role="tabpanel"><%- include('./dashboard/voiceChannel/index.html') %></div>
                        <div class="tab-pane fade" id="invites" role="tabpanel"><%- include('./dashboard/invites/index.html') %></div>
                        <div class="tab-pane fade" id="serverStats" role="tabpanel"><%- include('./dashboard/serverStats/index.html') %></div>
                        <div class="tab-pane fade" id="levelMessageDestination" role="tabpanel"><%- include('./dashboard/levelMessageDestination/index.html') %></div>
                        <div class="tab-pane fade" id="reactionRoles" role="tabpanel"><%- include('./dashboard/reactionRoles/index.html') %></div>
                        <div class="tab-pane fade" id="lockdown" role="tabpanel"><%- include('./dashboard/lockdown/index.html') %></div>

                        <!---->

                        <div class="tab-pane fade" id="embedMessage" role="tabpanel"><%- include('./dashboard/embedMessage/index.html') %></div>
                        <div class="tab-pane fade" id="embedEditor" role="tabpanel"><%- include('./dashboard/embedEditor/index.html') %></div>


                        <!---->

                        <% events.forEach( ( { event, name } ) => { %>
                            <div class="tab-pane fade" id="<%= event %>" role="tabpanel"><%- include('./dashboard/event/index.html', { event, name }) %></div>
                        <% } ); %> %>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>