<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.html') %>

    <body>
        <main>
            <div class="typing mt-5 my-5">
                <h2 class="text-uppercase">Syniks</h2>
            </div>

            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5" id="getStarted">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <img src="/images/SyniksMascot.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="375" height="375" loading="lazy">
                    </div>
                    
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">
                            It's time to use Syniks in your community.
                        </h1>

                        <p class="lead">
                            Syniks is a multi-purpose bot made to level up your community's experience in Discord.<br/>Make your server better with Syniks as your server's bot!
                        </p>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="/invite" class="btn btn-primary btn-lg px-4 me-md-2">Invite Syniks</a>
                            <a href="/support" class="btn btn-outline-secondary btn-lg px-4">Syniks Support</a>
                        </div>
                    </div>
                </div>
                
                <hr class="divider">

                <div class="container marketing">
                    <div class="row" style="justify-content: center;">
                        <div class="col-lg-4">
                            <h2>Moderation</h2>
                            <p>Make moderation easy for your server with logged warnings, mutes, bans, purging and channel lockdowns!</p>
                        </div>

                        <div class="col-lg-4">
                            <h2>Tickets</h2>
                            <p>Deal with situations effectively with a dedicated ticket system, made with Discord moderators in mind!</p>
                        </div>

                        <div class="col-lg-4">
                            <h2>Levels</h2>
                            <p>Track your user activity through levels in your server, along with your own server leaderboard for completely free!</p>
                        </div>

                        <div class="col-lg-4">
                            <h2>Music</h2>
                            <p>Increase user interaction through music in your voice chats! Supports YouTube! (SoundCloud Coming Soon!)</p>
                        </div>

                        <div class="col-lg-4">
                            <h2>Utility</h2>
                            <p>Manage your server and the bot easier with configurations, suggestions, polls, react messages and more!</p>
                        </div>
                    </div>
                </div>
                
                <hr class="divider">
                
                <div class="px-4 py-5 my-5 text-center">
                    <h1 class="display-5 fw-bold">Feeling persuaded?</h1>
                    
                    <div class="col-lg-6 mx-auto">
                        <p class="lead mb-4">Invite Syniks to your community server to start your enhanced experience!</p>
                        
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <a href="#getStarted" class="btn btn-primary btn-lg px-4 me-md-2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <%- include('./partials/footer.html') %>

</html>