<%
    let manageableGuilds = user.guilds.filter( guild => ( new permissions( guild.permissions ) ).has( 'MANAGE_GUILD' ) ),
        manageableGuildsCount = manageableGuilds.length;
%>

<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.html') %>

    <body>
        <main>
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">
                            <%= user.username %>
                            <span class="text-muted">
                                #<%= user.discriminator %>
                            </span>
                        </h1>

                        <p class="lead">
                            Welcome!
                            <br/>
                            You have <%= manageableGuildsCount %> guilds you can manage.
                        </p>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a class="btn btn-outline-secondary btn-lg px-4" data-bs-toggle="modal" data-bs-target="#detailsModal">My Details</a>
                        </div>
                    </div>

                    <div class="col-10 col-sm-8 col-lg-6">
                        <img src="<%= user.avatar %>" class="d-block mx-lg-auto img-fluid"" style="border-radius: 100%;" alt="User avatar" width="250" height="250" loading="lazy">
                    </div>
                </div>

                <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="detailsModalLabel">My Details</h5>
                                
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            
                            <div class="modal-body">
                                <p>ID: <code><%= user.id %></code></p>
                                <p>Username: <code><%= user.username %></code></p>
                                <p>Discriminator: <%= user.discriminator %></p>

                                <hr>
                                
                                <p>Servers: <%= user.guilds.length %> (<%= manageableGuildsCount %> Manageable)</p>
                                <p>Fetched At: <%= moment( new Date( user.fetchedAt ) ).fromNow() %></p>
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr class="divider">


                <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                    <%
                        manageableGuilds.forEach( guild => {
                            guild.exists = bot.guilds.cache.has( guild.id );
                    %>
                        <div class="card" style="max-width: 18rem; margin: 2rem; min-width: 18rem; border: none;">
                            <img src="<%= guild.icon %>" class="card-img-top" style="max-width: 18rem; min-width: 18rem; max-height: 18rem; min-height: 18rem;">
                            
                            <div class="card-body" style="text-align: center;">
                                <h5 class="card-title"><%= guild.name %></h5>

                                <p class="card-text">
                                    <hr>
                                    <%= guild.id %>
                                </p>

                                <% if ( guild.exists ) { %>
                                    <a href="/dashboard/<%= guild.id %>" class="btn btn-primary btn-lg px-4 me-md-2">Manage</a>
                                <% } else { %>
                                    <a href="<%= guild.inviteURL %>" class="btn btn-primary btn-lg px-4 me-md-2">Invite</a>
                                <% } %>
                            </div>
                        </div>
                    <% } ); %>
                </div>

            </div>

        </main>
    </body>

    <%- include('./partials/footer.html') %>

</html>