.typing {
    position: relative;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.typing h2 {
    position: relative;
    color: #4FC3F7;
    letter-spacing: 5px;
    font-size: 4rem;
    margin-bottom: 0;
}

/**/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #20374c; 
}

::-webkit-scrollbar-thumb:hover {
    background: #4c9be8;
}

/**/

.marketing .marketing-col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .marketing-col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.divider {
  margin: 5rem 0;
}

/**/

a {
    text-decoration: none !important;
}

/**/

.nav-pills .nav-link, .nav-pills .nav-link:hover, .nav-tabs .nav-link, .nav-tabs .nav-link:hover {
    color: #4c9be8;
}

.nav-tabs {
    border-bottom: none;
}

/**/

.dash-card {
    min-width: 40%;
    max-width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

/**/

.discord-channelContainer {
	padding: 1px 0;
	overflow: visible;
	position: relative;
	background-color: #393c43;
    width: fit-content;
    border-radius: 4px;
}

.discord-channelContent {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 0;
    padding: 6px 0;
    cursor: pointer;
}

.discord-iconContainer {
    position: relative;
    margin-right: 6px
}

.discord-hashtagIcon {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
	color: #72767d;
}

.discord-channelName {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    /* -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; */
    white-space: normal;
	color: #fff;
}

/**/

.app-body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 5%;
}

.app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/**/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.side-colored {
    width: 4px;
    border-radius: 3px 0 0 3px;
    background: #4f545c;
}

/**/

.embed {
    border-radius: 0 3px 3px 0;
    background: rgba(46, 48, 54, 0.3);
    border-color: rgba(46, 48, 54, 0.6);
    display: flex;
    padding: 8px 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.embed .card-block {
    padding: 0;
    display: flex;
    margin-bottom: 10px;
}

.embed a {
    color: #0096cf;
}

.embed img.embed-thumb {
    max-height: 80px;
    max-width: 80px;
    border-radius: 3px;
    flex-shrink: 0;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: 20px;
}

.embed .embed-footer {
    font-size: 12px;
}

.embed .embed-footer span {
    color: rgba(255, 255, 255, 0.6);
}

.embed .embed-inner .embed-title {
    color: #fff;
}

.embed .embed-inner .embed-author {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.embed .embed-inner .embed-author img.embed-author-icon {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%;
}

.embed .embed-inner .embed-author .embed-author-name {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #fff !important;
}

.embed .embed-inner .fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-lines: miltiple;
    margin-top: -10px;
}

.embed .embed-inner .fields .field {
    flex: 0;
    box-flex: 1;
    padding-top: 10px;
    max-width: 506px;
    min-width: 100%;
}

.embed .embed-inner .fields .field.inline {
    box-flex: 1;
    flex: 1;
    min-width: 150px;
    flex-basis: auto;
}

.embed .embed-inner .fields .field .field-name {
    color: #fff;
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 600;
}

.embed .embed-inner .fields .field .field-value {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1em;
    white-space: pre-wrap;
    margin-top: 6px;
    word-wrap: break-word;
}

/**/
  
.preview {
    background: #36393e;
    display: flex;
    box-orient: vertical;
    flex-direction: column;
}
  
.wrapper {
    display: flex;
    max-width: 520px;
}
  
.container {
    margin-top: 50px;
}
  
.side-colored-edit {
    width: 4px;
    border-radius: 3px 0 0 3px;
    background: #4f545c;
}
  
.embed-edit {
    border-radius: 0 3px 3px 0;
    background: rgba(46, 48, 54, 0.3);
    border-color: rgba(46, 48, 54, 0.6);
    display: flex;
    padding: 8px 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.embed-edit .card-block {
    padding: 0;
    display: flex;
    margin-bottom: 10px;
}

.embed-edit a {
    color: #0096cf;
}

.embed-edit img.embed-thumb-edit {
    max-height: 80px;
    max-width: 80px;
    border-radius: 3px;
    flex-shrink: 0;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: 20px;
}

.embed-edit .embed-footer-edit {
    font-size: 12px;
}

.embed-edit .embed-footer-edit span {
    color: rgba(255, 255, 255, 0.6);
}

.embed-edit .embed-inner-edit .embed-title-edit {
    color: #fff;
}

.embed-edit .embed-inner-edit .embed-author-edit {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.embed-edit .embed-inner-edit .embed-author-edit img.embed-author-icon-edit {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%;
}

.embed-edit .embed-inner-edit .embed-author-edit .embed-author-name-edit {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #fff !important;
}

.embed-edit .embed-inner-edit .fields-edit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-lines: miltiple;
    margin-top: -10px;
}

.embed-edit .embed-inner-edit .fields-edit .field-edit {
    flex: 0;
    box-flex: 1;
    padding-top: 10px;
    max-width: 506px;
    min-width: 100%;
}

.embed-edit .embed-inner-edit .fields-edit .field-edit.inline {
    box-flex: 1;
    flex: 1;
    min-width: 150px;
    flex-basis: auto;
}

.embed-edit .embed-inner-edit .fields-edit .field-edit .field-name-edit {
    color: #fff;
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 600;
}

.embed-edit .embed-inner-edit .fields-edit .field-edit .field-value-edit {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1em;
    white-space: pre-wrap;
    margin-top: 6px;
    word-wrap: break-word;
}