<meta name="title" content="Syniks.com">
<meta name="description" content="Syniks is a multi-purpose bot made to level up your community's experience in Discord. Make your server better with Syniks as your server's bot!">

<meta name="keywords" content="fun, levelling, moderation, music, ticket, utility">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="LzzDev">

<meta name="application-name" content="syniks" />

<meta name="HandheldFriendly" content="true">
<meta http-equiv="Cache-Control" content="no-cache">